<div class="row">

    <div class="six columns">
        <!-- Colección de contactos -->
        <lista-contactos [contactos]="listaContactos" (seleccionado)="showDetails($event)"></lista-contactos>
    </div>
    <div class="six columns">
        <!-- Detalles de contacto-->
        <detalles-contacto [contacto]="contactoSelec"
            (verFB)="navegarRuta($event)"
            (verTW)="navegarRuta($event)"
            (eliminar)="eliminarContacto($event)"></detalles-contacto>
    </div>    

</div>



